const AppLayout = ({ children }) =>
  <div>
    <ul className="nav">
      <li>Link to="/">Home</Link></li>
      <li>Link to="/counter">Counter</Link></li>
      <li>Link to="/dragon">Dragon</Link></li>
      <li>Link to="/gallery">Gallery</Link></li>
      <li>Link to="/weather">Weather</Link></li>
    </ul>
    <div>
      {children}
    </div>
  </div>;
